<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Users</title>
</head>
<body>

    <h1>Users</h1>
    <% for( let u of locals.users ) { %>
        <!-- Anything that we add in here is part of the loop -->
        <hr>
        <h3>Username: <%= u.username %>  </h3>
        <h5>Age: <%= u.age %> </h5>
    <% } %>
    
</body>
</html>